
*.cache
.vs/Examen_Parcial_3/FileContentIndex/2cc379bb-9078-43de-bf85-d653d3fe5df6.vsidx
.vs/Examen_Parcial_3/v16/.suo
.vs/Examen_Parcial_3/v17/.suo
Examen Parcial 3/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
*.cache
*.cache
